.form__fieldset {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    background-color: rgb(254, 254, 231);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

.form__legend {
    border: 2px solid rgb(80, 80, 34);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(116, 148, 106);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
}


.form__requiredText {
    font-size: 12px;
    margin-left: 28px;
}

.form__button,
.addition__button {
    margin: 0 auto;
    color: ivory;
    border-radius: 5px;
    border: 1px solid rgb(52, 56, 46);
    background-color: rgb(83, 89, 73);
    padding: 20px;
    width: 200px;
}

.form__button:hover,
.addition__button:hover {
    cursor: pointer;
    background-color: rgb(43, 144, 103);
    box-shadow: 0px 0px 14px 6px rgb(84, 168, 135);
}

.form__scoreText {
    font-size: 25px;
}

.form__score {
    color: rgb(158, 158, 158);
}

.form__score--color {
    color: rgb(43, 144, 103);
    font-weight: 700;
}

.addition {
    margin: 0 auto;
    width: 100%;
    border-top: 1px dotted rgb(43, 144, 103);
    padding-top: 20px;
}

.center {
    margin: auto;
    max-width: 200px;
}

.addition__header {
    text-align: center;
    font-size: 22px;
    color: rgb(43, 144, 103, 0.5);
}

.addition__paragraph {
    height: 30px;
    text-align: center;

}