html {
  box-sizing: border-box;
  font-family: 'Fuzzy Bubbles',
    cursive;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.converter {
  max-width: 550px;
  margin: 30px auto;
}