html {
  box-sizing: border-box;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Fuzzy Bubbles',
  cursive
  
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* .main { }  */