html {
  box-sizing: border-box;
  font-family: 'Fuzzy Bubbles',
    cursive;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* .main {} */